.header-container {
  width: 100%;
  height: 90px;
  display: flex;
  gap: 1rem;
  padding: 0px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* position: fixed;
  top: 0;
  left: 0; */
}

.header-container-img {
  width: 90px;
  padding: 10px;
  /* border: 2px solid red; */
}

.header-second-card {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  height: 100%;
}

.header-second-single-card {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid lightgrey;
}

.header-second-single-card > span {
  font-size: 16px;
  font-weight: 600;
  font-family: "Lato" sans-serif;
  color: grey;
}
.header-second-single-card > span > :nth-child(1) {
  text-decoration: none;
  color: inherit;
}

.header-second-card-second-card {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.header-second-card-second-card > span {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato" sans-serif;
}

.header-second-single-card > span .active {
  color: #ff6600;
}

.header-icons {
  display: none;
}

.mobile-view-card {
  position: absolute;
  height: calc(100vh - 90px);
  top: 90px;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.new-cls {
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato" sans-serif;
  text-decoration: none;
}

.mobile-view-first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  gap: 1rem;
  font-family: "Lato" sans-serif;
}

@media (max-width: 768px) {
  .header-container {
    align-items: center;
    justify-content: space-between;
  }
  .header-icons {
    display: block;
    cursor: pointer;
  }
  .header-second-card {
    display: none;
  }

  .header-container-img {
    width: 70px;
    padding: 10px;
  }
}
